@import "tailwindcss";
@source inline("text-red-600" ,"text-yellow-600" , "text-purple-600" , "text-blue-600" , "text-green-600")
@source inline("bg-red-300" ,"bg-yellow-300" , "bg-purple-300" , "bg-blue-300" , "bg-green-300")
